{% extends 'base.html' %}
{% block content %}


<br />
<h2>About Scene Movies</h2>
<p style="color: rgba(255,255,255,0.7)">Scene Movies was a quick exercise in making web apps. Previously, I had only done big projects that did not apply to the majority of the population, but a movie rating site is always useful.</p>
<p style="color: rgba(255,255,255,0.7)">Setting up to finished development of this project took less than four hours, using Python and Django. It is meant for personal use only and does not have a user management system.</p>
<p style="color: rgba(255,255,255,0.7)">Made in 2017 by Audrey Serene.</p>

{% endblock %}