{% extends 'base.html' %}

{% block content %}

<form action="{% url 'add_movie' %}" method="post">
{% csrf_token %}
<div style="text-align: center; margin-top: 40px;font-size: 2em;">
	<h2>Add Movie</h2>
</div>

<div style="display: flex;">
	<div style="flex: 1;text-align: right; padding-right: 20px;">
		<br />
		<label>Title</label>
	</div>
	<div style="flex: 4">
		<input type="text" name="title" style="width:80%;" class="add-input" />
	</div>
</div>

<div style="display: flex;margin-top:10px">
	<div style="flex: 1;text-align: right; padding-right: 20px;">
		<label>Comments</label>
	</div>
	<div style="flex: 4">
		<textarea name="comments" style="width:80%;" class="add-input" rows="5"></textarea>
	</div>
</div>

<div style="display: flex;margin-top:10px">
	<div style="flex: 1;text-align: right; padding-right: 20px;">
		<br />
		<label>Rating</label>
	</div>
	<div class="rating" style="flex: 4;padding-top:10px;">
		<fieldset class="yellow">
		    <span class="star-cb-group">
		      	<input type="radio" id="rating-5" name="rating" value="5" /><label for="rating-5">5</label>
		      	<input type="radio" id="rating-4" name="rating" value="4" /><label for="rating-4">4</label>
		      	<input type="radio" id="rating-3" name="rating" value="3" /><label for="rating-3">3</label>
		      	<input type="radio" id="rating-2" name="rating" value="2" /><label for="rating-2">2</label>
		      	<input type="radio" id="rating-1" name="rating" value="1" /><label for="rating-1">1</label>
		      	<input type="radio" id="rating-0" name="rating" value="0" class="star-cb-clear" /><label for="rating-0">0</label>
		    </span>
		  </fieldset>
	</div>
</div>

<button type="submit" class="card-button">Add Movie</button>

</form>

{% endblock %}